@font-face {
    font-family: Druckschrift;
    src: url('font/DeutscheDruckschrift.ttf');
}

@font-face {
    font-family: Transport;
    src: url('font/Transport_Heavy.ttf');
}

body {
    text-align: center;
    font-family: Transport;
    background-image: url('img/background.jpg');
}

#outerbox {
    font-size: x-large;
}

h1 {
    font-size: 2.5em;
    font-family: Druckschrift;
}

#intro {
    font-size: 1.1em;
}

#iLabel {
    font-size: 1.1em;
}

#inputText {
    font-size: 1em;
    width: 68.5%;
    resize: vertical;
    padding: 0.1;
    min-height: 4.7em;
    padding-left: 0.3em;
    padding-right: 0.2em;
}

#output {
    background-color: rgba(211, 211, 211, 0.317);
    font-size: 2.5em;
    width: 68%;
    padding: 0.1em;
    margin: auto;
    white-space: initial;
    word-wrap: break-word;
    min-height: 1.4em;
    margin-top: 0.5em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    vertical-align: middle;
}

#foot {
    margin-top: 2.5em;
}

#foot p {
    width: 60%;
    margin: auto;
    margin-bottom: 1em;
}

#alfred {
    height: 25em;
    position: fixed;
    right: 0px;
    bottom: 0px;
}

#link {
    color: rgb(17, 80, 255);
}